.button {
  border-radius: 20px;
  color: #f7f4f4;
  border: none;
  background-color: rgb(77, 134, 134);
  width: 100px;
  height: 50px;
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.6);
  font-weight: bold;
  font-size: 15px;
}